@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;500;700;800;900&display=swap');

@layer components {
  .link {
    @apply cursor-pointer font-semibold text-[17px] text-white hover:underline;
  }
  .btn-1 {
    @apply bg-white lg:w-80 xl:w-80 md:w-80 w-[50vw] rounded-[28px] font-medium inline-flex items-center justify-center lg:text-[18px] md:text-[18px] text-[96%] px-3 py-[15px] transition duration-200 ease-in-out hover:shadow-2xl hover:text-discord_blurple gap-3 flex-1;
  }
  .btn-2 {
    @apply bg-gray-900 text-white lg:w-80 xl:w-80 md:w-80 w-[56vw] rounded-[28px] md:px-4 lg:px-4 xl:px-4 px-0 py-[1rem] flex font-medium hover:shadow-2xl hover:bg-gray-800 transition duration-200 ease-in-out justify-center lg:text-[18px] md:text-[18px] text-[96%];
  }
  .server_default {
    @apply h-12 bg-[#36393f] rounded-full flex justify-center items-center cursor-pointer hover:rounded-2xl transition-all duration-100 ease-out w-12;
  }
  .icon-container {
    @apply hover:bg-[#3a3c43] p-2 rounded-md;
  }
  .icon {
    @apply h-6 text-[#b9bbbe] cursor-pointer hover:text-[#dcddde];
  }
}

html {
  padding: 0;
  margin: 0;
}

body {
  @font-face {
    font-family: gintoNord;
    src: url('./Fonts/Ginto/Ginto-Nord-700.woff') format('woff');
  }
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
  // background: gray;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
